# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b> 
- Learn about the different tools that data scientists use
- Discover popular examples of all types and categories of tools
- Become familiar with Jupyter Notebook and RStudio

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. NumPy
3. ggplot2
4. caret

| Data Science Tools |
| -------------|
| Jupyter Notebook | 
| RStudio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python.

This is a simple arithmetic expression to multiply then add integers.

In [27]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [29]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Vicky